*{
    margin: 0;
    padding: 0;
}
/*Menu part*/
.menu{
    background-color: #1e1f23;
    height: 4rem;
    padding: 10px;
}
.left{
    height: 4rem;
    background-color: bisque;
}
.left-logo img{
    height: 4rem;
}
.menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding-right: 20px;
}
.right-menu ul{
    height: 100%;
    gap: 50px;
    font-size: 22px;
    font-family: "Rethink Sans", sans-serif;
    color: #ebe7d8;
}
.right-menu ul li:hover{
    cursor: pointer;
    color: #f84b37;
    transition: 0.2s color ease-in-out;
}
/*content*/
.content{
    height: 45.7rem;
    background-color: #ebe7d8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    background-color: #1e1f23b7;
    border-radius: 10px;
    width: 50rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #f84b37 0px 20px 0px 10px;
}
.banner-input{
    height: 35%;
    width: 55%;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.banner-input input:focus{
    outline: none;
}
.banner-input input{
    height: 100%;
    width: 80%;
    font-size: 40px;
    padding-left: 10px;
    border-style: none;
}
.banner-input button{
    height: 55%;
    width: 20%;
    border-style: none;
    background-color: #f84b37;
    font-family: "Rethink Sans", sans-serif;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
    color: whitesmoke
}
.banner-input button:hover{
    cursor: pointer;
    box-shadow: #1e1f23b7 0px 5px 0px 3px;
    transition: 0.2s box-shadow ease-in-out;
}
/*Footer*/
.link{
    background-color: #1e1f23c5;
    height: 13rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.link-sector{
    display: flex;
    gap: 100px;
    margin-right: 5rem;
    font-size: 20px;
    color: #f7f7f7;
    font-family: "Noto Sans", sans-serif;
}
.link-sector div ul{
    list-style: none;
}
.link-sector h1{
    margin-bottom: 10px;
}
.link-sector a{
    text-decoration: none;
    color: #f7f7f7;
}
.link-sector a:hover{
    cursor: pointer;
    color: #f84b37;
    transition: 0.2s color ease-in-out;
}
.email-box{
    width: 25rem;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}
.email-box input{
    height: 2.5rem;
    width: 10rem;
    border-style: none;
    font-size: 25px;
    width: 100%;
    font-family: "Noto Sans", sans-serif;
}
.email-box input:focus{
    outline: none;
}
.email-box button{
    width: 20%;
    height: 80%;
    border-style: none;
    background-color: white;
}
.email-box button:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: #1e1f23b7 0px 5px 0px 0px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.footer-foot{
    height: 2.3rem;
    font-family: "Noto Sans", sans-serif;
    color: #1e1f23c5;
}
.footer-foot div{
    display: flex;
    justify-content: center;
}

