*{
    margin: 0;
    padding: 0;
}
.container{
    display:flex;
    
}
/*menu*/
.menu{
    width: 10%;
    background-color: #1e1f23;
    height: 50.5rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.user h3{
    color: whitesmoke;
    font-family: "Rethink Sans", sans-serif;
    font-size: 16px;
}
.manage{
    color: #1e1f23;
    font-family: "Rethink Sans", sans-serif;
    background-color: rgb(209, 211, 211);
    height: 40px;
    width: 80%;
    padding: 5px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
}
.manage:hover{
    background-color: rgb(166, 167, 167);
    transition: 0.3s background-color ease-in-out;
}
.create-btn{
    background-color: #f84b37;
    display: flex;
    width: 80%;
    justify-content: center;
    align-self: center;
    padding: 5px;
    border-radius: 10px;
}
.create-btn button{
    background-color: #f84b37;
    height: 30px;
    font-size: 15px;
    padding: 5px;
    font-family: "Rethink Sans", sans-serif;
    border-style: none;
    color: whitesmoke;
}
/*settings*/
.setting{
    
}
.setting a{
    text-decoration: none;
    color: whitesmoke;
    font-family: "Rethink Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 22px;
}
.setting ul{
    padding-left: 20px;
}
.setting ul li{
    margin-bottom: 20px;
}
.setting ul li:hover{
    color: #f84b37;
    transition: 0.5s color ease-in-out;
}
.setting a:hover{
    color: #f84b37;
    transition: 0.3s color ease-in-out;
}
/*account setting*/
.account-box{
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    padding: 5px;
    background-color: whitesmoke;
}
.account-box div{
    padding: 5px;
}
.account-box a{
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
}
.updatepassword-sector{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.deleteaccount-sector{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.updatepassword-sector:hover{
    cursor: pointer;
    box-shadow: #f84b37 0px 2px 0px 0px;
    transition: 0.2s box-shadow ease-in-out;
}
.deleteaccount-sector:hover{
    cursor: pointer;
    box-shadow: #f84b37 0px 2px 0px 0px;
    transition: 0.2s box-shadow ease-in-out;
}
.logout:hover{
    cursor: pointer;
    box-shadow: #f84b37 0px 2px 0px 0px;
    transition: 0.2s box-shadow ease-in-out;
}
/*Content dashboard*/
.content{
    background-color: #ebe7d8;
    height: auto;    
    width: 100%;
}
.center{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
}
/*banner*/
.banner h1{
    font-family: Arial, Helvetica, sans-serif;
}
/*filter*/
.timeline{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.filter{
    display: flex;
    justify-content: space-between;
}
.filter select{
    height: 100%;
}
.filters >select:nth-child(1){
    width: 2.9rem;
    padding: 5px 3px 5px;
}
.filters >select:nth-child(2){
    width: 3.4rem;
    padding: 5px 3px 5px;
}
.filters >select:nth-child(3){
    padding: 5px 3px 5px;
}
.search{
    width: 35%;
}
.search input{
    width: 95%;
    padding: 10px 5px 10px;
}
/*result*/
.result{
    width: auto;
    min-height: 5rem;
    height: auto;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
}
.output{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom-style: solid;
    border-width: 1px;
}
.bottom{
    display: flex;
    gap: 20px;
    align-items: center;
}
.bottom-right{
    display:flex;
    flex-direction: column;
}